In [ ]:
#program to handle missing data in dataset and repace it with mean of respective column
import pandas as pd
import numpy as np
data={"A":[1,2,np.nan,4],"B":[5,np.nan,7,8],"C":[np.nan,10,11,12]}
df=pd.DataFrame(data)
print("Original dataset:")
print(df)
df_filled=df.apply(lambda col:col.fillna(col.mean()),axis=0)
print("\n Dataset after replacing")
print(df_filled)

Original dataset:
     A    B     C
0  1.0  5.0   NaN
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0  12.0

 Dataset after replacing
          A         B     C
0  1.000000  5.000000  11.0
1  2.000000  6.666667  10.0
2  2.333333  7.000000  11.0
3  4.000000  8.000000  12.0

In [ ]:
#program to remove the duplicate rows in the dataset.
import pandas as pd

# Create a sample dataset
data = {
    'ID': [1, 2, 3, 1, 4, 2],
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eve', 'Bob'],
    'Age': [25, 30, 35, 25, 22, 30]
}

# Convert the data into a DataFrame
df = pd.DataFrame(data)

print("Original Dataset:")
print(df)

# Remove duplicate rows
df_cleaned = df.drop_duplicates(subset=['Name'])

print("\nDataset After Removing Duplicates:")
print(df_cleaned)

Original Dataset:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   1    Alice   25
4   4      Eve   22
5   2      Bob   30

Dataset After Removing Duplicates:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
4   4      Eve   22

In [ ]:
#program to clean text data by removing special characterrs and converting all text to lowercase.
import re

def clean_text(text):
    """
    Cleans the input text by removing special characters and converting to lowercase.

    Parameters:
        text (str): The input text to clean.

    Returns:
        str: The cleaned text.
    """
    # Remove special characters using a regular expression
    text = re.sub(r'[^A-Za-z0-9\s]', '', text)
    # Convert text to lowercase
    text = text.lower()
    return text

# Example usage
if __name__ == "__main__":
    sample_text = "Hello, World! Welcome to @Python #Programming123."
    print("Original Text:")
    print(sample_text)

    cleaned_text = clean_text(sample_text)
    print("\nCleaned Text:")
    print(cleaned_text)

Original Text:
Hello, World! Welcome to @Python #Programming123.

Cleaned Text:
hello world welcome to python programming123

In [1]:
#program to normalize numerical data using min-max normalization.
# Min-Max Normalization Function
def min_max_normalize(data):

    min_val = min(data)
    max_val = max(data)
    return [(x - min_val) / (max_val - min_val) for x in data]

# Example Data
data = [10, 20, 30, 40, 50]

# Normalize the Data
normalized_data = min_max_normalize(data)

# Output Results
print("Original Data: ", data)
print("Normalized Data:", normalized_data)

Original Data:  [10, 20, 30, 40, 50]
Normalized Data: [0.0, 0.25, 0.5, 0.75, 1.0]

In [2]:
#program to convert the categorical data into numerical data using one-hot encoding
import pandas as pd

# Example Categorical Data
data = ["Red", "Blue", "Green", "Red", "Blue", "Green", "Red"]

# Convert to DataFrame
df = pd.DataFrame({'Color': data})

# Apply One-Hot Encoding
encoded_data = pd.get_dummies(df, columns=['Color'])

# Output Results
print("Original Data:")
print(df)
print("\nOne-Hot Encoded Data:")
print(encoded_data)

Original Data:
   Color
0    Red
1   Blue
2  Green
3    Red
4   Blue
5  Green
6    Red

One-Hot Encoded Data:
   Color_Blue  Color_Green  Color_Red
0       False        False       True
1        True        False      False
2       False         True      False
3       False        False       True
4        True        False      False
5       False         True      False
6       False        False       True

In [3]:
#program to detect and remove outliers from a dataset using the z-score method
import numpy as np
import pandas as pd

# Function to detect and remove outliers using z-score
def remove_outliers_zscore(data, threshold=3):

    mean = np.mean(data)
    std = np.std(data)
    z_scores = [(x - mean) / std for x in data]
    filtered_data = [x for x, z in zip(data, z_scores) if abs(z) <= threshold]
    return filtered_data, z_scores

# Example dataset
data = [10, 12, 14, 15, 16, 18, 100]  # 100 is an outlier

# Detect and remove outliers
threshold = 3
filtered_data, z_scores = remove_outliers_zscore(data, threshold)

# Output results
print("Original Data: ", data)
print("Z-Scores: ", z_scores)
print("Filtered Data (Outliers Removed): ", filtered_data)

Original Data:  [10, 12, 14, 15, 16, 18, 100]
Z-Scores:  [-0.5452135460019196, -0.4788397230103816, -0.41246590001884353, -0.3792789885230745, -0.3460920770273055, -0.27971825403576744, 2.4416084886172924]
Filtered Data (Outliers Removed):  [10, 12, 14, 15, 16, 18, 100]